{% extends 'base.html' %}
{% block body_block %}
    {% if validlink %}
        <h3>Zmiana hasła</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">zmień hasło</button>
        </form>
    {% else %}
        <p>
            Link do zmiany hasła jest nieprawidłowy, prawdopodobnie wygasł albo został już wykorzystany.
            W innym wypadku spróbuj skopiować link aktywacyjny w pasek adresu przeglądarki, zamiast klikać w niego
            bezpośrednio.
        </p>
    {% endif %}
{% endblock %}